example-endpoint-definition/src/main/resources/schema/train.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://northpolesouthern.com"
           xmlns:tns="http://northpolesouthern.com"
           elementFormDefault="qualified">
    <xs:complexType name="TrainType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="axles" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Train" type="tns:TrainType"/>
</xs:schema>
